<!DOCTYPE html>
<html>

<head>
  <title>Testing...</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="container">
    <h1>Camera Capture App</h1>
    <video id="video" autoplay></video>
    <button id="start-btn">Start The Process</button>
    <br><br>
    <label for="led-select">Select LED:</label>
    <select id="led-select"></select>
    <button id="visualize-btn">Show LED Data</button>
    <br><br>
    <canvas id="canvas-diff"></canvas>
  </div>
  <script src="static/script.js"></script>
</body>

</html>